<ons-navigator var="eventNavi">
<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">Evenementen</div>
  </ons-toolbar>
  <div id="agenda">
  	<ons-list ng-controller="EventMasterController">
        <ons-list-item modifier="tappable" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
            <ons-col>
              <header>
                <span class="item-title">{{item.name}}</span>
                <span class="item-label">{{item.shortdate}}</span>
              </header>
              <p class="item-desc">{{item.description}}</p>
            </ons-col>
          </ons-row>                          
        </ons-list-item>
      </ons-list>
  </div>
</ons-page>
</ons-navigator>