<ons-page ng-controller="ContactenController">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.toggle()">
				<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">Contact lijst</div>
	</ons-toolbar>

	<body>
		<div id="contacten">
			<table data-ng-init="fetchSponsor()" modifier="chevron" class="item" ng-repeat="item in items">
				<tr>
					<td>
						<h2>Lijst van contacten:</h2>
					</td>
				</tr>
				<tr>
					<td id="departement">{{item.departement}}</td>
					<td id="voornaam">{{item.voornaam}}</td>
					<td id="achternaam">{{item.achternaam}}</td>
					<td id="email">{{item.email}}</td>
					<td id="telefoonnummer">{{item.telefoonnummer}}</td>
				</tr>
				<br/>
			</table>
	</body>
	<!--
		<ons-list data-ng-init="fetchContacten()">
			<ons-list-item modifier="chevron" class="item" ng-repeat="item in items">
				<ons-row>
					<ons-col>
						<header>
							<span>{{item.departement}}</span>
							<span>{{item.voornaam}}</span>
							<span>{{item.achternaam}}</span>
							<span>{{item.email}}</span>
							<span>{{item.telefoonnummer}}</span>
						</header>
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>-->
	</div>
</ons-page>