
.agenda-item{
	background-color:#e30713;
	color: white;
	width: 100%;
	height: auto;
	font-size: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	border-radius: 2px;
	outline: 0;
}

.agenda-item:hover{
	background-color: #ed4250;
	box-shadow: 0px 0px 2px #e30713;
	-moz-box-shadow: 0px 0px 2px #e30713;
	-webkit-box-shadow: 0px 0px 2px #e30713;
}

.agenda-date{
	font-weight: bold;
	padding-right: 10px;
	height: 100%;
	width: auto;
}

.agenda{
	width: 100%;
}

.agenda-name{
	width: 100%;
}
.agenda-info-container{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;	
}
.agenda-info{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 15px;
	color: black;
	padding: 20px;
	box-sizing: border-box;
}


.agenda-info-landscape{
	font-size: 14px;
	font-style: italic;
}

.agenda-info-container.closed{
	display: none;
}

@media screen and (max-width: 400px) {
	.agenda-info-landscape{
		display: none;
	}
}