/* Site defaults */
 #content{
 	padding-top: 55px;
 	padding-left: 5px;
 	padding-right: 5px;
 }
 
 body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.loading{
	background: url("../img/loading.gif");
	margin-left: auto;
	margin-right: auto;
	height: 48px;
	width: 48px;
}
 
 /* Header */
 #header{
	background-color: #e30713; /* Main color */
	padding-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: #c3040e;
	border-bottom-width: 4px;
	font-family: PrintClear;
	font-size: 18px;
	z-index: 10;
	height: 45px;
	padding: 2px;
	box-shadow: 0px 1px 2px #e30713;
	-moz-box-shadow: 0px 1px 2px #e30713;
	-webkit-box-shadow: 0px 1px 2px #e30713;
 }
 
#header-container{
 	position: fixed;
	width: 100%;
}
 
 /* Header logo */
 #logo{
	/* Logo path */
	background: url("../img/logo.png");
	background-size: auto 100%;
    background-repeat: no-repeat;

	display: block;
	height: 45px;
	width: 160px;
	float: left;
 }
 
#mobile{
	display: inline-block;
	background-color: #ff0614;
	width: 53px;
	height: 49px;
	margin-top: -2px;
	background-image: url('../img/nav-icon.png');
	background-position: center;
	background-repeat: no-repeat;
	float: right;
}